.git
.travis.yml
.vs*/
appveyor.yml
node_modules/
src/
test/
travis/

tslint.json
tsconfig.json
iobroker.*.tgz
Thumbs.db

# NYC coverage files
coverage
.nyc*

# test files
**/src/**/*.test.ts*
**/build/**/*.test.js*
**/build/**/*.test.d.ts
**/build/**/*.test.map
